In [1]:
import psycopg2

In [2]:
conn = psycopg2.connect(
    host = 'localhost',
    dbname = 'sqlda',
    port = 5432,
    user = 'postgres',
    password = 'postgres'
)

In [3]:
cur = conn.cursor()

In [4]:
cur.execute("select * from customers limit 10;")

In [5]:
result = cur.fetchall()

In [6]:
result

[(1,
  None,
  'Arlena',
  'Riveles',
  None,
  'ariveles0@stumbleupon.com',
  'F',
  '98.36.172.246',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  datetime.datetime(2017, 4, 23, 0, 0)),
 (2,
  'Dr',
  'Ode',
  'Stovin',
  None,
  'ostovin1@npr.org',
  'M',
  '16.97.59.186',
  '314-534-4361',
  '2573 Fordem Parkway',
  'Saint Louis',
  'MO',
  '63116',
  38.5814,
  -90.2625,
  datetime.datetime(2014, 10, 2, 0, 0)),
 (3,
  None,
  'Braden',
  'Jordan',
  None,
  'bjordan2@geocities.com',
  'M',
  '192.86.248.59',
  None,
  '5651 Kennedy Park',
  'Pensacola',
  'FL',
  '32590',
  30.6143,
  -87.2758,
  datetime.datetime(2018, 10, 27, 0, 0)),
 (4,
  None,
  'Jessika',
  'Nussen',
  None,
  'jnussen3@salon.com',
  'F',
  '159.165.138.166',
  '615-824-2506',
  '224 Village Circle',
  'Nashville',
  'TN',
  '37215',
  36.0986,
  -86.8219,
  datetime.datetime(2017, 9, 3, 0, 0)),
 (5,
  None,
  'Lonnie',
  'Rembaud',
  None,
  'lrembaud4@discovery.com',
  'F',
  '18.131.58.65',
  '786-499-3431',
  '38 Lindbergh Way',
  'Miami',
  'FL',
  '33124',
  25.5584,
  -80.4582,
  datetime.datetime(2014, 3, 6, 0, 0)),
 (6,
  None,
  'Cortie',
  'Locksley',
  None,
  'clocksley5@weather.com',
  'M',
  '140.194.59.82',
  None,
  '6537 Delladonna Drive',
  'Miami',
  'FL',
  '33158',
  25.6364,
  -80.3187,
  datetime.datetime(2013, 3, 31, 0, 0)),
 (7,
  None,
  'Wood',
  'Kennham',
  None,
  'wkennham6@sohu.com',
  'M',
  '191.190.135.172',
  '407-552-6486',
  '001 Onsgard Park',
  'Orlando',
  'FL',
  '32891',
  28.5663,
  -81.2608,
  datetime.datetime(2011, 8, 25, 0, 0)),
 (8,
  None,
  'Rutger',
  'Humblestone',
  None,
  'rhumblestone7@digg.com',
  'M',
  '77.10.235.191',
  '203-551-6530',
  '21376 Esker Center',
  'New Haven',
  'CT',
  '06510',
  41.3087,
  -72.9271,
  datetime.datetime(2013, 12, 15, 0, 0)),
 (9,
  None,
  'Melantha',
  'Tibb',
  None,
  'mtibb8@bbb.org',
  'F',
  '155.176.37.197',
  '913-590-8429',
  '05915 Havey Hill',
  'Shawnee Mission',
  'KS',
  '66225',
  38.8999,
  -94.83200000000001,
  datetime.datetime(2016, 2, 11, 0, 0)),
 (10,
  'Ms',
  'Barbara-anne',
  'Gowlett',
  'Jr',
  'bgowlett9@who.int',
  'F',
  '67.110.62.119',
  '915-714-5735',
  '9 Kim Point',
  'El Paso',
  'TX',
  '79940',
  31.6948,
  -106.3,
  datetime.datetime(2012, 6, 28, 0, 0))]

In [7]:
cur.close()
conn.close()

SQL Alchemy engine object has advantages such as :  
 - Connection pool allows for multiple connections simulataneously.  
 - Lazy initialization (connection is established based on the request). This minimizes the connection time and reduces the load on the database.  
 - It autocommits to the database.

In [8]:
import pandas as pd
from sqlalchemy import create_engine
%matplotlib inline

In [12]:
conn_string =  ("postgresql+psycopg2://{username}:{pswd}@{host}:{port}/{database}")
print(conn_string)

postgresql+psycopg2://{username}:{pswd}@{host}:{port}/{database}

In [13]:
engine = create_engine(conn_string.format(
    username = 'postgres',
    pswd = 'postgres',
    host = 'localhost',
    port = 5432,
    database = 'sqlda'
                        )
                          )

In [14]:
engine.execute("SELECT * FROM customers LIMIT 10;").fetchall()

[(1, None, 'Arlena', 'Riveles', None, 'ariveles0@stumbleupon.com', 'F', '98.36.172.246', None, None, None, None, None, None, None, datetime.datetime(2017, 4, 23, 0, 0)),
 (2, 'Dr', 'Ode', 'Stovin', None, 'ostovin1@npr.org', 'M', '16.97.59.186', '314-534-4361', '2573 Fordem Parkway', 'Saint Louis', 'MO', '63116', 38.5814, -90.2625, datetime.datetime(2014, 10, 2, 0, 0)),
 (3, None, 'Braden', 'Jordan', None, 'bjordan2@geocities.com', 'M', '192.86.248.59', None, '5651 Kennedy Park', 'Pensacola', 'FL', '32590', 30.6143, -87.2758, datetime.datetime(2018, 10, 27, 0, 0)),
 (4, None, 'Jessika', 'Nussen', None, 'jnussen3@salon.com', 'F', '159.165.138.166', '615-824-2506', '224 Village Circle', 'Nashville', 'TN', '37215', 36.0986, -86.8219, datetime.datetime(2017, 9, 3, 0, 0)),
 (5, None, 'Lonnie', 'Rembaud', None, 'lrembaud4@discovery.com', 'F', '18.131.58.65', '786-499-3431', '38 Lindbergh Way', 'Miami', 'FL', '33124', 25.5584, -80.4582, datetime.datetime(2014, 3, 6, 0, 0)),
 (6, None, 'Cortie', 'Locksley', None, 'clocksley5@weather.com', 'M', '140.194.59.82', None, '6537 Delladonna Drive', 'Miami', 'FL', '33158', 25.6364, -80.3187, datetime.datetime(2013, 3, 31, 0, 0)),
 (7, None, 'Wood', 'Kennham', None, 'wkennham6@sohu.com', 'M', '191.190.135.172', '407-552-6486', '001 Onsgard Park', 'Orlando', 'FL', '32891', 28.5663, -81.2608, datetime.datetime(2011, 8, 25, 0, 0)),
 (8, None, 'Rutger', 'Humblestone', None, 'rhumblestone7@digg.com', 'M', '77.10.235.191', '203-551-6530', '21376 Esker Center', 'New Haven', 'CT', '06510', 41.3087, -72.9271, datetime.datetime(2013, 12, 15, 0, 0)),
 (9, None, 'Melantha', 'Tibb', None, 'mtibb8@bbb.org', 'F', '155.176.37.197', '913-590-8429', '05915 Havey Hill', 'Shawnee Mission', 'KS', '66225', 38.8999, -94.83200000000001, datetime.datetime(2016, 2, 11, 0, 0)),
 (10, 'Ms', 'Barbara-anne', 'Gowlett', 'Jr', 'bgowlett9@who.int', 'F', '67.110.62.119', '915-714-5735', '9 Kim Point', 'El Paso', 'TX', '79940', 31.6948, -106.3, datetime.datetime(2012, 6, 28, 0, 0))]

In [15]:
df_customers = pd.read_sql_table('customers',engine)